* {
    padding: 0;
    margin:0; 
    box-sizing: 0;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
  letter-spacing: 1.3px;

}

:root{
  --main-color: #969696;
  --second-color: rgba(255, 255, 255, 0.973);
  --icon-color: #8E7754;
  --h-color: #303030;
  --p-color: #686868;
}

.navbar {
  background-color: transparent;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.logo img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  color: var(--second-color);
  font-weight: 500px;
  font-size: 18px;
  padding: 15px;
  margin: 5px;
}

.nav-links a:hover {
  color: var(--icon-color);
}

.header{
  background-image: url('../image/drew-coffeman.jpg');
  height: 100vh;
  background-size: cover;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--second-color);
  transition: all 0.3s ease;
}

.header-content{
  width: 700px;
  margin: 0 auto;
  max-width: 100%;
}

.header-content span {
  margin-bottom: 5px;
  font-size: 25px;
}

.header-content h1{
  font-size: 70px;
}

.header-content p {
  font-size: 19px;
}

.btn-1 {
  background-color: var(--icon-color);
  color: var(--second-color);
  padding: 20px 25px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  margin-top: 30px;
  border-radius: 6px;
}

.btn-2{
  background-color: rgba(255, 255, 255, 0);
  color: var(--second-color);
  padding: 20px 25px;
  font-weight: bold;
  font-size: 15px;
  border: solid 1px var(--second-color);
  border-radius: 6px;
}

.btn-1:hover , 
.btn-2:hover {
  background-color: var(--second-color);
  color: var(--h-color);
}

.content {
  display: flex;
  align-items: center;
  padding: 80px ;
  background-color: var(--second-color);
}

.content .image img {
  width: 800px;
  height: 550px;
  max-width: 500px;
}

.content .text {
  max-width: 600px;
  margin-left: 40px;
}

.content .text h2 {
  font-size: 32px;
  color: var(--h-color);
  margin-bottom: 20px;
}

.content .text p {
  font-size: 16px;
  color: var(--main-color);
  line-height: 1.7;
  margin-bottom: 30px;
}

.icon {
  margin-top: 20px;
}
  
.icon-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
}
  
.icon-icon {
  width: 40px;
  height: 40px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--icon-color);
  margin-right: 15px; 
}

.location-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  background-color: rgb(245, 245, 245);
}

.location-text {
  max-width: 50%;
  color: var(--p-color);
}

.location-text h2 {
  font-size: 32px;
  color: var(--h-color);
  margin-bottom: 20px;
}

.location-text p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 15px;
}

.location-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
}



/* def => 0px=> 640px */

@media screen and (max-width: 640px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .nav-links a {
    padding: 2px;
    font-size: 13px;
  }

  .header-content {
    width: 90%;
    margin-top: 200px;
  }

  .header-content h1 {
    font-size: 32px;
    padding: 7px;
    
  }

  .header-content span {
    font-size: 18px;
    padding: 7px;
  }

  .header-content p {
    font-size: 14px;
    padding: 7px;
  }

  .btn-1, .btn-2 {
    padding: 12px 16px;
    font-size: 14px;
    margin: 5px auto;
    padding: 10px;
  }

  .content {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .content .image img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .content .text h2 {
    text-align: left;
  }

  .content .text p {
    text-align: left;
  }
  
  .icon{
    text-align: left;
  }

  .icon-item{
    text-align: left;
  }

  .icon-icon{
    text-align: left;

  }

  .location-content {
    flex-direction: column;
    padding: 20px;
   
  }

  .location-image img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}


/* sm => 641px => 768px */

@media screen and (min-width: 641px) and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 20px;
  }

  .nav-links {
    flex-direction: row;
    justify-content: center;
  }

  .nav-links a {
    padding: 8px;
    font-size: 15px;
  }

  .header-content h1 {
    font-size: 40px;
  }

  .btn-1, .btn-2 {
    font-size: 14px;
    padding: 14px 18px;
  }

  .content {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  .content .text h2 {
    text-align: left;
  }

  .content .text p {
    text-align: left;
  }

  .location-content {
    flex-direction: column;
    padding: 40px 20px;
    align-items:center;
  }

  .location-text{
    text-align: left;
  }

  .location-text h2{
    text-align: left;
  }

  .location-text p{
    text-align: left;
  }
}


/* md => 769px => 1024px */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 30px;
  }

  .nav-links a {
    font-size: 16px;
    padding: 10px;
  }

  .header-content h1 {
    font-size: 55px;
  }

  .header-content p {
    font-size: 17px;
  }

  .btn-1, .btn-2 {
    font-size: 15px;
    padding: 16px 22px;
  }

  .content {
    flex-direction: column;
    padding: 60px;
  }

  .content .text h2{
    text-align: left;
  }

  .content .text p{
    text-align: left;
  }

  .location-content {
    flex-direction: column;
    padding: 60px;
  }
}


/* lg => 1025px => 1280px */

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .navbar {
    padding: 40px 50px;
  }

  .header-content h1 {
    font-size: 65px;
  }

  .content {
    flex-direction: row;
    padding: 70px;
  }

  .location-content {
    flex-direction: row;
    padding: 70px;
  }
}


/* xl => 1281px => ...... */

@media screen and (min-width: 1281px) {
  .navbar {
    padding: 60px 80px;
  }

  .header-content h1 {
    font-size: 70px;
  }

  .content {
    padding: 80px 100px;
  }

  .location-content {
    padding: 80px 100px;
  }
}
